<style type="text/css">
    .footer{
        min-height: 100px;
        
    }

</style>

<!-- Footer

<div id="pied" class="d-flex flex-row align-items-center footer bg-white shadow-lg mt-5">
    <p class="m-auto">MKSD | 2020</p>
</div>

---->

    <!-- -------- FOOTER --------------->

      <div class="main-2">  

        <section class="footer">
          <div class="container_footer">
            <small>
              <p>MKSD @ 2022 | Malagasy Mifandray | </p>
              <p>
                Mail:  <a itemprop="email" href="mailto:fihaonana.malagasy@gmail.com" target="_blank">@fihaonana.malagasy@gmail.com
                </a>|
                Tél: <span itemprop="telephone">
                    <a href="tel:004915231726565">
                        004915231726565 
                    </a>
                </span>|
                Facebook: <a href="https://www.facebook.com/fihaonambe.MKSD" target="_blank">@MKSD </a>|
                Instagram: <a href="https://www.instagram.com/mksd_seidabei/" target="_blank">@Instagram</a>
              </p>
            </small>
          </div>
        </section>

      </div>
<!-- End Footer -->


























