{% extends 'base.html' %}

{% load static %}


{% block content %}

<style type="text/css">
	
	img {
		margin-top: 11px;
		
	}

</style>

<div class="container my-5">
    <br />
<h1>TOUS LES ALBUMS</h1>    <br />
    {% if user_is.authenticated %}
    <a href="{% url 'addproduct' %}" class="btn btn-success btn-sm">Créer Album</a>
    {% endif %}
    <br />
    <hr />
    <div class="row">
        {% for product in productlist %}
        <div class="card m-3" style="width: 18rem;">
            <img src="{{ product.banner.url }}" class="card-img-top" alt="banner_image" style="width: 263px; height: 200px;">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <a href="{% url 'productdetail' product.id %}" class="btn btn-primary btn-sm">Detail</a>
                {% if user_is.authenticated %}
                <a href="{% url 'addimages' product.id %}" class="btn btn-secondary btn-sm">Add images</a>
                {% endif %}
            </div>

        </div>
        {% empty %}
        	<p>No product yet</p>
         {% endfor %}
    </div>
</div>


{% endblock %}













